In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("chi_bus.csv", sep='\t')

/Users/chrisolen/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.tail()

,2009,000102012,NULL,SANDLER SANITARY WIPING CLOTH,6100 N LAWNDALE AVE,CHICAGO,60659,B,D,42393033,...,NULL.4,130100,16980,1967,5,2615,NULL.5,NULL.6,41.99207,-87.72175
1144870,2018,438421288,NaN,FAMILY URGENT CARE,1631 N HALSTED ST # 1,CHICAGO,60614,A,B,62111107.0,...,NaN,71800,16980,NaN,3.0,624.0,NaN,NaN,41.91187,-87.64792
1144871,2018,438422157,NaN,NORTHWESTERN MEMORIAL HOSP,251 E HURON ST # 16-738,CHICAGO,60611,A,B,62111107.0,...,NaN,81401,16980,NaN,3.0,624.0,NaN,NaN,41.89491,-87.62140
1144872,2018,438422160,NaN,DUPAGE MEDICAL GROUP,251 E HURON ST # 3-150,CHICAGO,60611,A,B,62111107.0,...,NaN,81401,16980,NaN,3.0,624.0,NaN,NaN,41.89491,-87.62140
1144873,2018,438422653,NaN,NaN,820 S DAMEN AVE,CHICAGO,60612,A,B,62111107.0,...,NaN,838200,16980,NaN,3.0,624.0,NaN,NaN,41.87054,-87.67723
1144874,2018,438423315,NaN,SMITH SEAN B MD,675 N SAINT CLAIR ST # 18-250,CHICAGO,60611,A,B,62111107.0,...,NaN,81401,16980,NaN,3.0,624.0,NaN,NaN,41.89443,-87.62226

In [8]:
df.columns

Index(['2009', '000102012', 'NULL', 'SANDLER SANITARY WIPING CLOTH',
       '6100 N LAWNDALE AVE', 'CHICAGO', '60659', 'B', 'D', '42393033',
       '265301', 'CORRUGATED & SOLID FIBER BOXES (MFRS)', '9', 'NULL.1',
       'NULL.2', 'NULL.3', 'NULL.4', '130100', '16980', '1967', '5', '2615',
       'NULL.5', 'NULL.6', '41.99207', '-87.72175'],
      dtype='object')